.titleText {
    margin: auto;
    text-align: center;
    padding-top: 225px;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 5px 5px 2px black;
}

.subText {
    margin: auto;
    text-align: center;
    padding-top: 30px;
    font-family:Georgia, 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 2px black;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a { 
    transition: all 0.3s ease 0s;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    width: 90px; /* This honestly does not do much */
    height: 60px; /* Same thing with this one since the bubble automatically adjusts to the length of the word */
    border-radius: 20px; /* Makes the thing round */
    font-family: 'Roboto', sans-serif;
    font-weight: bold; /* Making the font bold */
    padding: 10px; /* This is what is allowing the oval to have its actual shape */
    color: black;
}

.navLinks li a:hover {
    background-color: rgb(23, 58, 86);
    color: white; /* This is simply just changing the menu items when they someone is hovering over them */
}



header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.background {
    background-image: url("./Images/tien-phat-night-landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.logoutButton {
    border-radius: 8px;
    text-align: center;
    background-color: #CFB991;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 35px;
    display: inline-block;
    border: none;
    width: 150px;
    height: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}