@property --k {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
}

@keyframes k { to { --k: 1}}

.titleText {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    background: 
		linear-gradient(90deg, 
				hsl(calc(var(--k)*1turn), 95%, 65%), 
				hsl(calc(var(--k)*1turn + 90deg), 95%, 65%)) text;
	color: transparent;
	font: 900 sans-serif;
	filter: url(#f);
	text-align: center;
	text-transform: uppercase;
	animation: k 4s linear infinite;
}

.plainBackground {
    background-color: black;
    border-radius: 10px;
    padding-right: 300px;
    padding-left: 300px;

}

.background {
    background-image: url('./Images/Purdue\ Campus.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.scrollingFeature {
    overflow: scroll;
}

.logoutButton {
    border-radius: 8px;
    text-align: center;
    background-color: #CFB991;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 35px;
    display: inline-block;
    border: none;
    width: 150px;
    height: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}