h2 {
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-size: 80px;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.loginBackground {
    background-image: linear-gradient(rgb(23, 58, 86), black);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
}

.loginSection {
    color: white;
    background-color: white;
    margin: auto;
    margin-top: 12px;
    width: 50%;
    height: 50%;
    box-shadow: 12px 12px 2px 1px rgba(129, 140, 245, 0.2);
    padding-bottom: 140px;
    padding-top: 40px;
}

.loginSection label {
    position: absolute;
    top: 15px;
    left: 0px;
    font-size: 18px;
    padding: 0 5px;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    background-color: lightgray;
    border: none;
    border-bottom: 5px solid gray;
    margin-bottom: 25px;
    padding-top: 5px;
    padding-bottom: 5px;

}

input:focus {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 25px;
    border:none;
    border-bottom: 5px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.loginButton {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    display: block;
    border: none;
    width: 52%;
    height: 52%;
    border-radius: 999px;
    background: linear-gradient(45deg, rgb(23, 58, 86), black);
    color: white;
    transition: 0.4s ease-out;
}

.loginButton:hover {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    display: block;
    border: none;
    width: 52%;
    height: 52%;
    border-radius: 999px;
    background: linear-gradient(45deg, black, rgb(23, 58, 86));
    color: white;
    transition: 0.4s ease-out;
}

.loginButton:active {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    display: block;
    border: none;
    width: 52%;
    height: 52%;
    border-radius: 999px;
    background: linear-gradient(45deg, white, #001E09);
    color: black;
    transition: 0.4s ease-out;
}

.loginButton:focus {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    display: block;
    border: none;
    width: 52%;
    height: 52%;
    border-radius: 999px;
    background: linear-gradient(45deg, white, #001E09);
    color: black;
    transition: 0.4s ease-out;
}

.input-fields label {
    position: absolute;
    top: 15px;
    left: 0px;
    font-size: 18px;
    padding: 0 5px;
    margin: auto;
}

.backButton {
    width: 130px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background: linear-gradient(90deg, rgb(23, 58, 86), black);
    color: white;
    transition: 1s ease-out;
}

.backButton:hover {
    width: 130px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background: linear-gradient(90deg, black, rgb(23, 58, 86));
    color: white;
    transition: 1s ease-out;
}

.backButton:active {
    width: 130px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background: linear-gradient(90deg, white, #001E09);
    color: black;
    transition: 1s ease-out;
}

.backButton:focus {
    width: 130px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background: linear-gradient(90deg, white, #001E09);
    color: black;
    transition: 1s ease-out;
}