h2 {
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-size: 80px;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.loginBackground {
    background-image: linear-gradient(rgb(23, 58, 86), black);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
}

.loginSection {
    color: white;
    background-color: white;
    margin: auto;
    margin-top: 120px;
    width: 50%;
    height: 50%;
    box-shadow: 12px 12px 2px 1px rgba(129, 140, 245, 0.2);
    padding-bottom: 100px;
    padding-top: 100px;

}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: block;
    text-align: center;
    margin: auto;
}